@import '../settings/_variables.scss';
.ma-auto
{
  margin-top: auto !important;
  margin-right: auto !important;
  margin-bottom: auto !important;
  margin-left: auto !important;
}

.my-auto{
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mx-auto{
  margin-left: auto !important;
  margin-right: auto !important;
}

.mt-auto{
  margin-top: auto !important;
}

.mr-auto{
  margin-right: auto !important;
}

.mb-auto{
  margin-bottom: auto !important;
}

.ml-auto{
  margin-left: auto !important;
}

$i:0;
@each $name,$space in $spacers{

    .ma-#{$i}{
        margin:$space $space !important;
    }

    .my-#{$i}{
        margin-top:$space !important;
        margin-bottom:$space !important;
    }
    .mx-#{$i}{
        margin-left:$space !important;
        margin-right:$space !important;
    }
    .mt-#{$i}{
        margin-top:$space !important;
    }
    .mb-#{$i}{
        margin-bottom:$space !important;
    }
    .ml-#{$i}{
        margin-left:$space !important;
    }
    .mr-#{$i}{
        margin-right:$space !important;
    }

    .pa-#{$i}{
        padding:$space $space !important;
    }

    .py-#{$i}{
        padding-top:$space !important;
        padding-bottom:$space !important;
    }
    .px-#{$i}{
        padding-left:$space !important;
        padding-right:$space !important;
    }
    .pt-#{$i}{
        padding-top:$space !important;
    }
    .pb-#{$i}{
        padding-bottom:$space !important;
    }
    .pl-#{$i}{
        padding-left:$space !important;
    }
    .pr-#{$i}{
        padding-right:$space !important;
    }

    $i:$i+1;
}